# templates/Caddyfile.j2
{
    log {
        level warn
    }
    http_port 80
    https_port 443
}

# Desec DNS-01 Challenge Snippet
(desec_tls) {
    tls {
        dns desec {
            token {env.DESEC_API_TOKEN}
        }
    }
}

# Wildcard cert

*.potterman.party {
    import desec_tls
    abort
}

# Infrastructure
proxmox.potterman.party {
    import desec_tls
    # PVE ZT IP
    reverse_proxy {{ hostvars['pve']['zerotier_ip'] }}:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pbs.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['pve']['zerotier_ip'] }}:8007 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

forgejo.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:3000
}

# NAS
nas.potterman.party {
    import desec_tls
    # OMV NAS ZT IP
    reverse_proxy {{ hostvars['omv']['zerotier_ip'] }}:80
}

# Pihole | DNS Adblock
pihole.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:800
}

# The Arr Stack & Media
sonarr.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8989
}

radarr.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:7878
}

prowlarr.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:9696
}

decypharr.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8282
}

sabnzbd.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8585
}

jellyfin.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8096
}

jellyseer.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:5055
}

# Dashboard
home.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:3005
}

# hoodik | VPS
hoodik.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['ionos_vps']['zerotier_ip'] }}:8060
}

foundry.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:30000
}

pelican.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:80
}

# Identity Provider (SSO)
auth.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:9000
}

# Firefly III
firefly.potterman.party {
    import desec_tls
    forward_auth {{ hostvars['debian-docker']['zerotier_ip'] }}:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid
        trusted_proxies private_ranges
        }
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:{{ app_services.firefly.internal_port }}
}

# S3 Object Storage (Garage on K3s)
s3.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['k3s-node1']['zerotier_ip'] }}:30900
}

paperless.potterman.party {
	    import desec_tls
	    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:{{ app_services.paperless.internal_port }}
	}

wings.potterman.party {
    import desec_tls
    reverse_proxy {{ hostvars['pve-wings-vm-01']['zerotier_ip'] }}:8080
}