services:
  forgejo:
    image: "{{ app_services.forgejo.image }}:{{ app_services.forgejo.version }}"
    container_name: forgejo
    hostname: forgejo
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
    ports:
      - "{{ app_services.forgejo.internal_port }}:3000"
      - "{{ app_services.forgejo.ssh_port }}:22"
    volumes:
      - "{{ app_services.forgejo.root_path }}/data:/data"
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  forgejo-runner:
    build:
      context: ./
      dockerfile: Dockerfile.runner
    container_name: forgejo-runner
    restart: unless-stopped
    command: forgejo-runner -c /config.yaml daemon
    group_add:
      - "989"
    depends_on:
      - forgejo
    volumes:
      - "{{ app_services.forgejo.root_path }}/runner/config.yaml:/config.yaml:ro"
      - "{{ app_services.forgejo.root_path }}/runner/data:/data"
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ app_services.forgejo.root_path }}/runner:/workspace"
