# Ansible 
*.retry
.ansible_vault_pass
.ansible_cache/
*.lock

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Python / MkDocs
__pycache__/
*.py[cod]
*$py.class
site/
.pytest_cache/
venv/

# Environment & OS 
*.env
*.env.local
.DS_Store
Thumbs.db
*.log

# VSCodium 
.vscode/
.history/