- Infrastructure:
    - Proxmox:
        icon: proxmox.png
        href: "https://192.168.2.100:8006"
        description: "Virtualization Host"

- Cloud:
    - Seafile:
        icon: seafile.png
        href: "https://seafile.potterman.party"
        description: "Seafile Cloud"
