- Infrastructure:
      - Proxmox:
            icon: proxmox.png
            href: "https://192.168.2.100:8006"
            description: "Virtualization Host"

- Cloud:
      - hoodik:
            icon: hoodik.png
            href: "https://hoodik.potterman.party"
            description: "hoodik Cloud"
