# templates/Caddyfile.j2
{
    debug
    http_port 80
    https_port 443
}

# The Cloudflare DNS-01 Challenge Snippet
(cloudflare_tls) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# Infrastructure
proxmox.potterman.party {
    import cloudflare_tls
    # PVE ZT IP
    reverse_proxy {{ hostvars['pve']['zerotier_ip'] }}:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pbs.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['pve']['zerotier_ip'] }}:8007 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

forgejo.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:3000
}

# NAS
nas.potterman.party {
    import cloudflare_tls
    # OMV NAS ZT IP
    reverse_proxy {{ hostvars['omv']['zerotier_ip'] }}:80
}

# Pihole | DNS Adblock
pihole.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:800
}

# The Arr Stack & Media
sonarr.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8989
}

radarr.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8787
}

prowlarr.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:9696
}

decypharr.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8282
}

sabnzbd.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8585
}

jellyfin.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:8096
}

jellyseer.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:5055
}

# Dashboard
home.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:3005
}

# Seafile | VPS
seafile.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['ionos_vps']['zerotier_ip'] }}:8060
}

foundry.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['cachy-os']['zerotier_ip'] }}:30000
}

# Identity Provider (SSO)
auth.potterman.party {
    import cloudflare_tls
    reverse_proxy {{ hostvars['debian-docker']['zerotier_ip'] }}:9000
}