name: seafile
services:
  db:
    image: "{{ app_services.seafile.mariadb_image }}:{{ app_services.seafile.mariadb_version }}"
    container_name: seafile-mysql
    restart: unless-stopped
    environment:
      - "MYSQL_ROOT_PASSWORD={{ vault_seafile_db_password }}"
      - MYSQL_LOG_CONSOLE=true
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - ./mariadb:/var/lib/mysql
    networks:
      - seafile_net

  memcached:
    image: "{{ app_services.seafile.memcached_image }}:{{ app_services.seafile.memcached_version}}"
    container_name: seafile-memcached
    restart: unless-stopped
    entrypoint: memcached -m 256
    networks:
      - seafile_net

  seafile:
    image: "{{ app_services.seafile.image }}:{{ app_services.seafile.version }}"
    container_name: seafile
    restart: unless-stopped
    ports:
      - "8060:80"
    volumes:
      - ./seafile-data:/shared # Data storage
    environment:
      - DB_HOST=db
      - "DB_ROOT_PASSWD={{ vault_seafile_db_password }}"
      - TIME_ZONE=Europe/Warsaw
      - SEAFILE_ADMIN_EMAIL=admin@potterman.party
      - "SEAFILE_ADMIN_PASSWORD={{ vault_seafile_db_password }}" # Temp admin pass
      - SEAFILE_SERVER_LETSENCRYPT=false # Caddy handles SSL
      - SEAFILE_SERVER_HOSTNAME=seafile.potterman.party
    depends_on:
      - db
      - memcached
    networks:
      - seafile_net

  seafile-webhook:
    build:
      context: ./webhook
      dockerfile: Dockerfile
    container_name: seafile-webhook
    restart: unless-stopped
    networks:
      - seafile_net

networks:
  seafile_net:
